@using static RiskDashBoard.Resources.StaticInfo
@model RiskDashBoard.Models.ViewModels.RiskViewModel

@{
    Layout = null;
}

<div class="row">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-7">
                <div class="form-group">
                    <label asp-for="RiskName" class="control-label"></label>
                    <input asp-for="RiskName" class="form-control" />
                    <span asp-validation-for="RiskName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label asp-for="RiskProbability" class="control-label"></label>
                    @* <input asp-for="RiskProbability" class="form-control" min="0" max="100" type="number" step="5" /> *@
                    @Html.DropDownListFor(model => model.RiskProbability, Enum.GetValues(typeof(RiskProbabilityEnum)).Cast<RiskProbabilityEnum>().Select(r => new SelectListItem { Text = r.ToString(), Value = ((int)r).ToString() }), new { @class = "form-control", @id = "dropDownDecission" })
                    <span asp-validation-for="RiskProbability" class="text-danger"></span>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label asp-for="RiskImpact" class="control-label"></label>
                    @* <input asp-for="RiskImpact" class="form-control" min="0" max="100" type="number" step="5" /> *@
                    @Html.DropDownListFor(model => model.RiskImpact, Enum.GetValues(typeof(RiskImpactEnum)).Cast<RiskImpactEnum>().Select(r => new SelectListItem { Text = r.ToString(), Value = ((int)r).ToString() }), new { @class = "form-control", @id = "dropDownDecission" })
                    <span asp-validation-for="RiskImpact" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group" style="margin-top:5px">
            <label asp-for="RiskDescription" class="control-label"></label>
            <textarea asp-for="RiskDescription" class="form-control"></textarea>
            <span asp-validation-for="RiskDescription" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="PhaseId" type ="hidden" id="phaseHiddenId"/>
            <input asp-for="ProjectId" type="hidden" id="projectHiddenId" />
        </div>

        <div class="row" style="margin-left:5px; margin-top:10px">
            <div class="form-check form-switch col-4">
                <input class="form-check-input" type="checkbox" role="checkbox" id="flexSwitchCheckDefaultExploration">
                <label class="form-check-label" for="flexSwitchCheckDefaultExploration">EXPLORATION</label>
            </div>
            <div class="form-check form-switch col-4">
                <input class="form-check-input" type="checkbox" role="checkbox" id="flexSwitchCheckDefaultValuation">
                <label class="form-check-label" for="flexSwitchCheckDefaultValuation">VALUATION</label>
            </div>
            <div class="form-check form-switch col-4">
                <input class="form-check-input" type="checkbox" role="checkbox" id="flexSwitchCheckDefaultFoundations">
                <label class="form-check-label" for="flexSwitchCheckDefaultFoundations">FOUNDATIONS</label>
            </div>
            <div class="form-check form-switch col-4">
                <input class="form-check-input" type="checkbox" role="checkbox" id="flexSwitchCheckDefaultDevelopment">
                <label class="form-check-label" for="flexSwitchCheckDefaultDevelopment">DEVELOPMENT</label>
            </div>
            <div class="form-check form-switch col-4">
                <input class="form-check-input" type="checkbox" role="checkbox" id="flexSwitchCheckDefaultOperation">
                <label class="form-check-label" for="flexSwitchCheckDefaultOperation">OPERATION</label>
            </div>
        </div>

        <div class="form-group" style="margin-top:15px">
            <input type="submit" value="Create" class="btn btn-primary float-sm-end"/>
        </div>
    </form>
</div>

<hr />

<div class="row">
    <div class="row" style="margin-bottom: 10px">
        <div class="col-9">
            <input class="form-control" id="inputSearchRisk" type="text" placeholder="Search..">
        </div>
        <div class="form-check form-switch col-3">
            <input class="form-check-input" type="checkbox" role="checkbox" id="ckOnwProject" onclick="SearchRisks()">
            <label class="form-check-label" for="flexSwitchCheckDefault">Select all projects</label>
        </div>
    </div>
    <div>
        <div id="ViewPartialRisk"></div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}