@using static RiskDashBoard.Resources.StaticInfo
@model RiskDashBoard.Models.ViewModels.RiskViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Edit Risk</h4>
<hr />
<div class="row">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="RiskId" />
        <input type="hidden" asp-for="ProjectId"/>
        <div class="row">
            <div class="col-7">
                <div class="form-group">
                    <label asp-for="RiskName" class="control-label"></label>
                    <input asp-for="RiskName" class="form-control" />
                    <span asp-validation-for="RiskName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label asp-for="RiskProbability" class="control-label"></label>
                    @* <input asp-for="RiskProbability" class="form-control" min="0" max="100" type="number" step="5" /> *@
                    @Html.DropDownListFor(model => model.RiskProbability, Enum.GetValues(typeof(RiskProbabilityEnum)).Cast<RiskProbabilityEnum>().Select(r => new SelectListItem { Text = r.ToString(), Value = ((int)r).ToString() }), new { @class = "form-control", @id = "dropDownDecission" })
                    <span asp-validation-for="RiskProbability" class="text-danger"></span>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label asp-for="RiskImpact" class="control-label"></label>
                    @*<input asp-for="RiskImpact" class="form-control" /> *@
                    @Html.DropDownListFor(model => model.RiskImpact, Enum.GetValues(typeof(RiskImpactEnum)).Cast<RiskImpactEnum>().Select(r => new SelectListItem { Text = r.ToString(), Value = ((int)r).ToString() }), new { @class = "form-control", @id = "dropDownDecission" })
                    <span asp-validation-for="RiskImpact" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group" style="margin-top:5px">
                <label asp-for="RiskDescription" class="control-label"></label>
                <textarea asp-for="RiskDescription" class="form-control"></textarea>
                <span asp-validation-for="RiskDescription" class="text-danger"></span>
            </div>

            <div class="form-group" style="margin-top:5px">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>
<div>
    <a asp-action="GetPhasesWithRisks" asp-route-id=@Model.ProjectId>Back to List</a>
</div>
    
 <hr/>
 <div>
    <div id="CommentRiskSectionDiv"></div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    
    <script>$('#CommentRiskSectionDiv').load("/Risks/GetRiskComments/@Model.RiskId")</script>

    <script>
        function GetRiskCommentsPartial() {
            $.ajax({
                url: "/Risks/GetRiskComments",
                type: 'GET',
                data: { id: @Model.RiskId},
                success: function (data) {
                    jQuery("#CommentRiskSectionDiv").html(data);
                }
            });
        };
    </script>
}